.friends-container {
	margin-top: 50px;
}

.friend-card {
	display: flex;
	justify-content: center;
	margin: 25px 0;
	background-color: #fff;
	border: 1px solid var(--main-color);
	padding: 50px;
}

.friend-card:hover {
	background-color: rgb(206, 206, 206);
}

.friend-card a {
	color: var(--text);
}

.friend-info {
	display: flex;
	justify-content: space-evenly;
}

.friend-img {
	margin-bottom: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

@media screen and (min-width: 768px) {
	.friends-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.friend-card {
		margin: 10px 10px;
	}
}
