.home .splash {
	height: calc(100vh - 75px);
	width: 100vw;
	background-color: var(--main-color);
	background-image: url('./bg.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
}

.home .cta {
	width: 80vw;
	margin: 0 auto;
}

.cta h2 {
	font-size: 2em;
	margin-bottom: 1%;
}

.cta .btn a {
	font-size: 1.2em;
	padding: 0.5% 1%;
	color: var(--white);
	border: 3px solid var(--white);
}

/* Cards Container */

.cards-container {
	display: flex;
	justify-content: space-around;
	margin: 40px auto;
}
